section#grid {
	display: flex;
	flex-wrap: wrap;
	max-width: 33em;
}

div.tile {
	background-color: grey;
	width: 1em;
	aspect-ratio: 1 / 1;
	flex-basis: 6.25%;
}

div.tile.activated {
	background-color: cyan;
}

div.tile.active {
	background-color: magenta;
}

button#set-grid-size {
	background-color: cyan;
}

button#clear-grid {
	background-color: magenta;
}
